In [2]:
import pandas as pd
import re

In [4]:
df = pd.read_csv("data/qna.csv")

In [5]:
# HTML 태그와 공백을 제거하는 함수
def clean_text(text):
    # HTML 태그 제거
    text = re.sub(r'<.*?>', '', text)
    # 앞뒤 공백 제거
    text = text.strip()
    return text

In [6]:
df['combined'] = df['question_title'] + " " + df['accepted_answer_body']  # 두 컬럼 합치기

In [8]:
df.head(5)

,question_title,accepted_answer_body,combined
0,@roo_validator error when importing langchain....,<p>I was using LangChain 0.0.20 and I got the ...,@roo_validator error when importing langchain....
1,Any way to check if a number is already within...,"<p>First you just need a given cell (row,col) ...",Any way to check if a number is already within...
2,Type hint for a tuple of variable length (vari...,<p>We can annotate variable-length homogeneous...,Type hint for a tuple of variable length (vari...
3,How can I do one-hot encoding from multiple co...,<p>Use melt and crosstab.</p>\n<pre><code>tmp ...,How can I do one-hot encoding from multiple co...
4,What is the difference between TypeVar and New...,<p>The two concepts aren't related any more th...,What is the difference between TypeVar and New...

In [9]:
data = df.drop(columns=['question_title', 'accepted_answer_body'])

In [10]:
data.head(5)

                                            combined
0  @roo_validator error when importing langchain....
1  Any way to check if a number is already within...
2  Type hint for a tuple of variable length (vari...
3  How can I do one-hot encoding from multiple co...
4  What is the difference between TypeVar and New...

In [11]:
data['combined'].apply(clean_text)

0       @roo_validator error when importing langchain....
1       Any way to check if a number is already within...
2       Type hint for a tuple of variable length (vari...
3       How can I do one-hot encoding from multiple co...
4       What is the difference between TypeVar and New...
                              ...
3598    How to return multiple stats as multiple colum...
3599    f-string: unmatched &#39;(&#39; in line with f...
3600    Retrieve query results as dict in SQLAlchemy \...
3601    How to select rows that have more than one val...
3602    How to write to a shared variable in python jo...
Name: combined, Length: 3603, dtype: object

In [12]:
data.head()

                                            combined
0  @roo_validator error when importing langchain....
1  Any way to check if a number is already within...
2  Type hint for a tuple of variable length (vari...
3  How can I do one-hot encoding from multiple co...
4  What is the difference between TypeVar and New...

In [13]:
data.to_csv("qna_re.csv", index=False)
print("CSV 파일이 성공적으로 생성되었습니다!")

CSV 파일이 성공적으로 생성되었습니다!

In [14]:
df2 = pd.read_csv("qna_re.csv")

In [15]:
df2.head()

                                            combined
0  @roo_validator error when importing langchain....
1  Any way to check if a number is already within...
2  Type hint for a tuple of variable length (vari...
3  How can I do one-hot encoding from multiple co...
4  What is the difference between TypeVar and New...